################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BE_2505/FileContentIndex/37b85014-8926-4cfe-9f6c-3c681b648cfe.vsidx
*.vsidx
/BE_2505/bin/Debug/net8.0/runtimes/win/lib
/.gitignore
/BE2505.DataAccess/bin/Debug
/BE2505.DataAccess/obj/Debug
/BE2505.DataAccess/Properties
